.gradle
.settings
/build/
/eclipse/
/gradle/
.classpath
.project
gradlew
gradlew.bat
/bin/
/config/
/crash-reports/
/logs/
options.txt
/saves/
usernamecache.json
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
servers.dat
usercache.json
whitelist.json
world/